*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
    color: #333;
}
header{
    background-color: midnightblue;
    padding: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: white;
    font-size: 24px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.nav-links a:hover{
    color: #00adb5;
}
.hero{
    height: 400px;
    background-image: url("../images/mojaslika.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    color: white;
    animation: fadeln 2s ease;
}
.button{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #111;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.button:hover{
    background-color: #00adb5;
    transform: scale(1.05);
}
.skills{
    padding: 60px 20px;
    text-align: center;
}
.skills-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.skill{
    background-color: lightpink;
    padding: 20px;
    width: 120px;
    transition: 0.3s;
}
.skill:hover{
    transform: translateY(-10px)
}
footer{
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
.skills-box{
    flex-direction: column;
    align-items: center;
}
.about{
    padding: 60px 20px;
   max-width: 1000px;
   margin: auto;
   text-align: center;
}
.about-text{
    margin: 20px 0px 40px;
    font-size: 18px;
}
.about-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.about-card{
    background-color: lightpink;
    padding: 30px;
    transition: 0.3s;
}
.about-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.contact{
    padding: 60px 20px;
    text-align: center;
}
.contact-form{
    max-width: 500px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form input, .contact-form textarea{
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
}
.contact-form input:focus, .contact-form textarea:focus{
    border-color: #00adb5;
}
.contact-form button{
    margin: 20px;
    padding: 12px;
    background-color: lightpink;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.contact-form .button:hover{
    background-color: #00adb5;
    transform: scale(1.05);
}
h2{
    margin: 20px;
}
footer{
    background-color: midnightblue;
}